.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.spinner {
    opacity:0;
    border: 0.25em solid var(--spinner-track);
    border-top: 0.25em solid var(--spinner-accent);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
