services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: taskmanager_backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always
