# =========================
# Maven
# =========================
target/

# =========================
# IDE
# =========================
*.iml
.idea/

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary
# =========================
*.tmp
