spring:
  profiles:
    active: @activeProfile@
  jpa:
    open-in-view: false
    properties:
      hibernate:
        generate_statistics: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: beans

logging:
  level:
    root: info
    io.github.balasis.taskmanager: TRACE
    org:
      springframework:
        transaction:
          interceptor: TRACE
