spring:
  cloud:
    azure:
      keyvault:
        secret:
          endpoint: ${KEYVAULT_URI}
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

logging:
  level:
    root: info
    io.github.balasis.taskmanager: TRACE
    org.springframework.transaction.interceptor: TRACE
