spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        generate_statistics: true

logging:
  level:
    root: info
    io.github.balasis.taskmanager: TRACE
    org:
      springframework:
        transaction:
          interceptor: TRACE