spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 4
      minimum-idle: 2
      idle-timeout: 500000
      max-lifetime: 1200000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        generate_statistics: false
    show-sql: false

logging:
  level:
    root: info
    io.github.balasis.taskmanager: TRACE
    org.springframework.transaction.interceptor: info
    io.opentelemetry.exporter.otlp=DEBUG: DEBUG