name: frontend-ci-cd

on:
  push:
    paths:
      - 'task-manager-frontend/**'
  workflow_dispatch:

jobs:
  test_frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm ci

      - name: Lint
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm run lint

      - name: Build
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm run build

  deploy_frontend:
    runs-on: ubuntu-latest
    needs: test_frontend
    if: ${{ needs.test_frontend.result == 'success' && github.ref == 'refs/heads/main' && false }}

    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set image tag
        run: echo "IMAGE_TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: anstaskmanageracr-g3bwdtdrb8h9bfem.azurecr.io
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg VITE_API_BASE=${{ secrets.VITE_API_BASE }} \
            --build-arg VITE_BLOB_BASE=${{ secrets.VITE_BLOB_BASE }} \
            --build-arg VITE_CDN_BASE=${{ secrets.VITE_CDN_BASE }} \
            -t anstaskmanageracr-g3bwdtdrb8h9bfem.azurecr.io/taskmanager-frontend:$IMAGE_TAG \
            task-manager-frontend/task-manager-app-frontend

      - name: Push Docker image
        run: |
          docker push anstaskmanageracr-g3bwdtdrb8h9bfem.azurecr.io/taskmanager-frontend:$IMAGE_TAG

      - name: Change the image of frontend web app service
        run: |
          az webapp config container set \
            --name taskmanager-rg-frontend \
            --resource-group TaskManager-RG \
            --container-image-name anstaskmanageracr-g3bwdtdrb8h9bfem.azurecr.io/taskmanager-frontend:$IMAGE_TAG \
            --container-registry-url https://anstaskmanageracr-g3bwdtdrb8h9bfem.azurecr.io
