name: frontend-ci-cd

on:
  push:
    paths:
      - 'task-manager-frontend/**'
  workflow_dispatch:

jobs:
  test_frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm ci

      - name: Lint
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm run lint

      - name: Build
        working-directory: task-manager-frontend/task-manager-app-frontend
        run: npm run build

      - name: Upload dist artifact
        uses: actions/upload-artifact@v3
        with:
          name: frontend-dist
          path: task-manager-frontend/task-manager-app-frontend/dist

  deploy_frontend:
    runs-on: ubuntu-latest
    needs: test_frontend
    if: ${{ needs.test_frontend.result == 'success' && github.ref == 'refs/heads/main' && false }}

    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Checkout
        uses: actions/checkout@v3

      - name: Download dist artifact
        uses: actions/download-artifact@v3
        with:
          name: frontend-dist
          path: task-manager-frontend/task-manager-app-frontend/dist

      - name: UploadAssets
        run: az storage blob upload-batch \
          --account-name anstaskmanagerstorage \
          --source task-manager-frontend/task-manager-app-frontend/dist/assets \
          --destination assets \
          --overwrite \
          --auth-mode login
     #FD will redirect assets -> assets

      - name: UploadStaticOnes
        run: az storage blob upload-batch \
          --account-name anstaskmanagerstorage \
          --source task-manager-frontend/task-manager-app-frontend/dist/static_frontend \
          --destination staticfrontendfiles \
          --overwrite \
          --auth-mode login
      #FD redirect static_frontend -> staticfrontendfiles

      - name: UploadIndex
        run: az storage blob upload \
          --account-name anstaskmanagerstorage \
          --container-name $web \
          --name index.html \
          --file dist/index.html \
          --overwrite \
          --auth-mode login